* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin: 10px 0 20px 0;
  color: rgb(70, 80, 47);
}
h4 {
  color: rgb(70, 80, 47);
}
.container {
  border: 1px solid rgb(189, 224, 172);
  padding: 15px;
  margin: 15px auto;
  font-size: 20px;
  width: 620px;
  background-color: rgb(233, 253, 224);
}
.select {
  margin: 15px 0 25px 0;
}
.color {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}
.color > label {
  margin: 5px;
}
.equipment {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.equipment > label {
  margin: 5px;
}
.info {
  margin: 35px 0;
}
.info > p {
  margin: 10px 5px;
  font-weight: 600;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
input[type="button"] {
  padding: 5px 12px;
  margin: 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(70, 80, 47);
  color: aliceblue;
}
input[type="button"]:hover {
  cursor: pointer;
  background-color: rgb(126, 148, 80);
  box-shadow: 1px 1px 10px 1px rgb(155, 196, 137);
}
